a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.section-container {
    height: 100%;
    width: 1365px;
    margin: 0 auto;
    border: 2px solid rgb(121, 121, 0);
    display: flex;
}

.section-container.header-container {
    justify-content: space-between;
}


.header {
    border: 2px solid red;
    height: 70px;
    background-color: #1F2937;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid green;
    display: flex;
    align-items: center;
}

.header-nav {
    font-size: 18px;
    color: #E5E7EB;
    border: 2px solid pink;
    display: flex;
    gap: 30px;
}

.header-nav a {
    border: 2px solid lightgreen;
    display: flex;
    align-items: center;
}

.hero-section {
    height: 700px;
    border: 2px solid blue;
    background-color: #1F2937;
}

.category-section {
    height: 665px;
    border: 2px solid green;
}

.quote-section {
    height: 570px;
    border: 2px solid purple;
    background-color: #E5E7EB;
}

.action-section {
    height: 465px;
    border: 2px solid orange;
}

.footer {
    height: 135px;
    border: 2px solid turquoise;
    background-color: #1F2937;
}